@page
@model NotifUI.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<html>
	<head>
		<title>
			Home
		</title>
	</head>
	<body>
		<a asp-page ="account">
			<input type="button" value="Войти"/>
		</a>
		<a asp-page ="registr">
			<input type="button" value="Регистрация"/>
		</a>
	</body>
</html>
